body{
	font-weight: normal;
	background: #F7F0F0;
	color: #0F1020;
	font-family: 'Lora', serif;
	font-size: 18px

	}

	h1,h2,h3{
		font-family: 'Roboto', sans-serif;
		color: #181D31;
		fontsize:26px;
		font-weight: bold;
	}

		h1{
			fontsize: 40px;

		}

		a{
			text-decoration: none;
			color: #0F1020;
		}
		a:hover{
			color: #0F1020;
		}

.logo{
	border-radius: 60%;
	border: 5px solid #181D31;
	box-shadow:  0px 10px 30 px,rgba(0, 0, 0, 0.3);

}


.principal{
	width: 900px;
	margin: 20px auto;

}


@media (max-width: 960px) {
  .principal {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .principal {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .principal {
    width: 300px;
  }
}
.card-color {
    background: #F7F0F0;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 6px;
   box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    text-align: center;
    ;
}

.btn-color{ 
border-radius: 4px;
background-color: black;
color: #fff9fe;
padding:10px 15px

} 

.btn-color:hover{
	background-color: sandybrown;
	color: whitesmoke;

}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 20px;
}
.list-inline i{

	font-size: 50px;
	color: black;
}
.list-inline i:hover {
color : sandybrown;
}




